$border: 1px solid;
$color-red: red;
$color-blue: blue;
$color-green: green;

body {
    width: 100vw;
}

div {
    border: $border $color-red;
    padding: 20px;
    text-align: center;

    h1 {
        color: $color-green;
        font-size: 1.5em;
        text-decoration: underline $color-blue;
    }

    section {
        display: flex;

        article {
            border: $border $color-green;
        }


    }

    article:nth-child(1),
    article:nth-child(3) {
        color: $color-blue;
    }

}

article:nth-child(2),
article:nth-child(4) {
    color: $color-red;
}